@font-face {
  font-family: 'Shabnam';
  src: url('fonts/Shabnam-FD.woff2') format('woff2'),
       url('fonts/Shabnam-FD.woff') format('woff');
}

[data-md-color-scheme="farsi"] {
  --md-default-fg-color--light:        #6e6e6e;
  --md-default-fg-color: #212121;
  --md-primary-fg-color--dark:  #90030C;
}